In [17]:
import pandas as pd
import numpy as np
dt = pd.read_pickle('Binning.pickle')
dt

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,JOININGYEAR_BIN,AGE_BIN,EXPERIENCEINCURRENTDOMAIN_BIN
1,Bachelors,2013,C,1,28,Female,No,3,1,"(2011.999, 2013.0]","(27.0, 28.0]","(2.0, 3.0]"
2,Bachelors,2014,B,3,38,Female,No,2,0,"(2013.0, 2014.0]","(34.0, 38.0]","(1.0, 2.0]"
3,Masters,2016,A,3,27,Male,No,5,1,"(2015.0, 2016.0]","(26.0, 27.0]","(4.0, 5.0]"
5,Bachelors,2016,A,3,22,Male,No,0,0,"(2015.0, 2016.0]","(21.999, 24.7]","(-0.001, 1.0]"
6,Bachelors,2015,B,3,38,Male,No,0,0,"(2014.0, 2015.0]","(34.0, 38.0]","(-0.001, 1.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...
4647,Bachelors,2016,C,3,30,Male,No,2,0,"(2015.0, 2016.0]","(28.0, 31.0]","(1.0, 2.0]"
4648,Bachelors,2013,A,3,26,Female,No,4,0,"(2011.999, 2013.0]","(24.7, 26.0]","(3.0, 4.0]"
4649,Masters,2013,C,2,37,Male,No,2,1,"(2011.999, 2013.0]","(34.0, 38.0]","(1.0, 2.0]"
4650,Masters,2018,B,3,27,Male,No,5,1,"(2017.0, 2018.0]","(26.0, 27.0]","(4.0, 5.0]"
4651,Bachelors,2012,A,3,30,Male,Yes,2,0,"(2011.999, 2013.0]","(28.0, 31.0]","(1.0, 2.0]"

In [18]:
def num_event(event, dataframe ,field, val):
    if event == 'good':
        event = 1
    else:
        event = 0
    cond_main = dataframe[field] == val
    cond_event = dataframe['LeaveOrNot'] == event
    n = len(dataframe[cond_main & cond_event].index)
    return n


def dist_event(event, dataframe ,field, val):
    n = num_event(event, dataframe, field, val)
    sumd = 0
    all_elements = set(dataframe[field].to_numpy())
    for a in all_elements:
        s = num_event(event, dataframe, field, a)
        sumd = sumd + s
    return n/sumd

def WOE(dataframe, field, val):
    dg = dist_event('good', dataframe, field, val)
    db = dist_event('bad', dataframe, field, val)
    w = np.log(dg / db)
    return w

def IV(dataframe, field):
    elements = set(dataframe[field].to_numpy())
    n = len(elements)
    sumiv = 0
    for i in elements:
        dg = dist_event('good', dataframe, field, i)
        db = dist_event('bad', dataframe, field, i)
        s = (dg-db) * WOE(dataframe, field, i)
        sumiv = sumiv + s
    return sumiv   

fields = ['Education', 'PaymentTier', 'AGE_BIN', 'Gender', 'EverBenched','JOININGYEAR_BIN','EXPERIENCEINCURRENTDOMAIN_BIN']
list_woe=[]
list_attr=[]
list_val=[]
list_ngood = []
list_nbad = []
list_dgood = []
list_dbad = []

for f in fields:
    the_set = set(dt[f].to_numpy())
   
    for s in the_set:
        n_good = num_event('good', dt, f, s)
        n_bad = num_event('bad', dt, f, s)
        d_good = dist_event('good', dt, f, s)
        d_bad = dist_event('bad', dt, f, s)
        woe = WOE(dt, f, s)

        if 'BIN' in f:
            s = str(s)
        list_attr.append(f)
        list_val.append(s)
        list_ngood.append(n_good)
        list_nbad.append(n_bad)
        list_dgood.append(d_good)
        list_dbad.append(d_bad)
        list_woe.append(woe)



x = list(zip(list_attr, list_val, list_ngood, list_nbad, list_dgood, list_dbad,list_woe)) 
xlabel = ['ATTR', 'VAL', 'N_GOOD', 'N_BAD', 'DIST_GOOD', 'DIST_BAD','WOE']
df = pd.DataFrame(x, columns = xlabel )

df = df.sort_values(by=['ATTR', 'VAL'])

df = df.reset_index(drop=True)



df

,ATTR,VAL,N_GOOD,N_BAD,DIST_GOOD,DIST_BAD,WOE
0,AGE_BIN,"(21.999, 24.7]",127,199,0.114518,0.092601,0.212426
1,AGE_BIN,"(24.7, 26.0]",285,476,0.256988,0.221498,0.148615
2,AGE_BIN,"(26.0, 27.0]",157,265,0.141569,0.123313,0.138060
3,AGE_BIN,"(27.0, 28.0]",134,315,0.120830,0.146580,-0.193189
4,AGE_BIN,"(28.0, 31.0]",126,279,0.113616,0.129828,-0.133386
5,AGE_BIN,"(31.0, 34.0]",83,180,0.074842,0.083760,-0.112572
6,AGE_BIN,"(34.0, 38.0]",122,269,0.110009,0.125174,-0.129146
7,AGE_BIN,"(38.0, 41.0]",75,166,0.067628,0.077245,-0.132956
8,EXPERIENCEINCURRENTDOMAIN_BIN,"(-0.001, 1.0]",208,426,0.187556,0.198232,-0.055357
9,EXPERIENCEINCURRENTDOMAIN_BIN,"(1.0, 2.0]",277,488,0.249775,0.227082,0.095246
10,EXPERIENCEINCURRENTDOMAIN_BIN,"(2.0, 3.0]",219,343,0.197475,0.159609,0.212885
11,EXPERIENCEINCURRENTDOMAIN_BIN,"(3.0, 4.0]",206,454,0.185753,0.211261,-0.128677
12,EXPERIENCEINCURRENTDOMAIN_BIN,"(4.0, 5.0]",197,429,0.177638,0.199628,-0.116709
13,EXPERIENCEINCURRENTDOMAIN_BIN,"(5.0, 7.0]",2,9,0.001803,0.004188,-0.842533
14,Education,Bachelors,770,1749,0.694319,0.813867,-0.158865
15,Education,Masters,310,310,0.279531,0.144253,0.661544
16,Education,PHD,29,90,0.026150,0.041880,-0.470970
17,EverBenched,No,946,1966,0.853021,0.914844,-0.069970
18,EverBenched,Yes,163,183,0.146979,0.085156,0.545808
19,Gender,Female,601,701,0.541930,0.326198,0.507631
20,Gender,Male,508,1448,0.458070,0.673802,-0.385913
21,JOININGYEAR_BIN,"(2011.999, 2013.0]",239,576,0.215509,0.268032,-0.218100
22,JOININGYEAR_BIN,"(2013.0, 2014.0]",106,348,0.095582,0.161936,-0.527219
23,JOININGYEAR_BIN,"(2014.0, 2015.0]",212,326,0.191163,0.151698,0.231233
24,JOININGYEAR_BIN,"(2015.0, 2016.0]",76,300,0.068530,0.139600,-0.711505
25,JOININGYEAR_BIN,"(2016.0, 2017.0]",216,594,0.194770,0.276408,-0.350057
26,JOININGYEAR_BIN,"(2017.0, 2018.0]",260,5,0.234445,0.002327,4.612788
27,PaymentTier,1,59,109,0.053201,0.050721,0.047733
28,PaymentTier,2,375,266,0.338142,0.123779,1.004974
29,PaymentTier,3,675,1774,0.608656,0.825500,-0.304736

In [19]:
df.to_pickle('attr.pickle')

In [20]:
df_iv = pd.DataFrame({'ATTR': [], 'IV': []})
for f in fields:
    d = pd.DataFrame({'ATTR':[f], 'IV': [IV(dt, f)]})
    df_iv = df_iv.append(d, ignore_index = True)
df_iv

                            ATTR        IV
0                      Education  0.115893
1                    PaymentTier  0.281629
2                        AGE_BIN  0.023829
3                         Gender  0.192766
4                    EverBenched  0.038069
5                JOININGYEAR_BIN  1.205423
6  EXPERIENCEINCURRENTDOMAIN_BIN  0.018671